@media (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 767px) {

  .tries,
  .highscore {
    float: left;
    margin-left: 23%;
  }

}

@media (min-width: 768px) {
  .closebtn {
    line-height: 10px;
  }

}