.overlay {
  display: block;
  font-size: 32px;
  position: fixed;
  color: #FFFFFF;
  background-color: $accent-color1;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: 1;

}

.btn-reset {
  display: inline-block;
  margin: 40px auto;
  padding: 10px;
  color: white;
  border: white 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reset:hover {
  transform: scale(1.2);
  background-color: $accent-color2;
}